.game {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.color-box {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.slider-area {
  width: 200px;
  text-align: center;
}

.current-color-value {
  display: inline-block;
  width: 30px;
}

button {
  display: block;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  outline: none;
  margin: auto;
}