.game {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider-area {
  width: 200px;
  text-align: center;
}

.current-color-value {
  display: inline-block;
  width: 30px;
}