.game {
  width: 80%;
  margin: 25px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score {
  text-align: center;
}

.color-box {
  width: 250px;
  height: 250px;
  border-radius: 35px;
}

.slider-area {
  width: 250px;
  text-align: center;
  margin-top: 35px;
}

.current-color-value {
  display: inline-block;
  width: 30px;
}

button {
  display: block;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  outline: none;
  margin: auto;
}

button:hover {
  cursor: pointer;
}

input[type="range"] {
  cursor: pointer;
}