.intro-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-text {
  width: 60%;
  font-size: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px; 
}

p {
  margin: 0;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.action-text {
  font-weight: bold;
}